.bg-income {
  background: #01e0fb !important;
}
.bg-profit {
  background: #009688 !important;
}
.bg-expenses {
  background: rgb(231, 81, 90) !important;
}
.progress-bar-income {
  background-color: #01e0fb !important;
}
.progress-bar-profit {
  background-color: #009688 !important;
}
.progress-bar-expenses {
  background-color: rgb(231, 81, 90) !important;
}
.logo-img {
  width: 50px;
  position: absolute;
  top: 3px;
}
.panel {
  margin-left: 35px;
  position: absolute;
  top: 47px;
  left: 45px;
}
.profile-info figure {
  width: 100%;
  height: 82px;
  background: rgb(158, 154, 155);
}
.users-info img {
  border-radius: 50%;
  border: 6px solid rgba(63, 94, 222, 0.24);
  height: 90px;
  width: 90px;
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.users-info {
  padding: 42px 0 0 0;
}
.menu-collapsed .collapsed .profile-info figure {
  /* width: 100%;
    height: 82px;
    background: rgb(158, 154, 155); */
  display: none;
}
.users-info img {
  border-radius: 50%;
  border: 6px solid rgba(63, 94, 222, 0.24);
  height: 90px;
  width: 90px;
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.users-info {
  padding: 42px 0 0 0;
}
.menu-collapsed .collapsed .users-info {
  padding: 10px 0 10px 0;
}
.menu-collapsed .collapsed .users-info h6,
.menu-collapsed .collapsed .users-info p {
  /* width: 100%;
    height: 82px;
    background: rgb(158, 154, 155); */
  display: none;
}
.menu-collapsed .collapsed .users-info img {
  border-radius: 50%;
  border: 6px solid rgba(63, 94, 222, 0.24);
  height: 45px;
  width: 45px;
  position: static;
  left: 0;
  right: 0;
  top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.profile-info * {
  transition: 0.6s;
}
.users-info p {
  font-size: 13px;
  color: #888ea8;
  font-weight: 600;
}
.users-info h6 {
  font-size: 16px;
  color: #3b3f5c;
  font-weight: 700;
}
.nav-menu-main {
  color: #fff !important;
}
.button-footer {
  width: 100%;
  padding: 12px 20px;
  background: #191e3a;
  border-radius: 6px 6px 0 0;
  border-top: 1px solid #f1f2f3;
}

.account-footer{
    position: fixed !important;
    bottom: -21px !important;
    width: calc(100%) !important;
    left: 0px !important;
}
.reset-all{
    background: #E2A03F !important;
    color: #fff !important;
}
@media (min-width: 1200px) {
    .account-footer{
     width: calc(100% - 295px) !important;
     left: 277px !important;
    } 
 }