/*** User pages ***/

.users-avatar-shadow {
  box-shadow: 2px 4px 14px 0 rgba(34, 41, 47, 0.4);
}

// aggrid actions dropdown
.actions-dropdown {
  .btn-group .btn {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14) !important;
    border-radius: 0.5rem !important;
  }
}
// date picker width
.react-datepicker-wrapper {
  width: 100%;
}

// User view Table
.permissions-table {
  td,
  th {
    padding: 0.5rem;
  }
}

// User view info
.users-page-view-table .user-info {
  font-size: 16px;
  h4{
    font-size: 20px;
    font-weight: 600;
    color:#2BD2FF
  }
  div {
    padding: 0.5rem;
  }
  .user-info-title {
    min-width: 200px;
  }
}
.title{
  .card-title{
    font-size: 21px;
    font-weight: 600;
  }
}
.edit-profile{
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #2BD2FF;
  border-radius: 50%;
  box-shadow: 0 10px 15px rgba(0,69,255,0.2);
  svg{
    font-size: 17px;
    vertical-align: middle;
    color: #fff;
    width: 19px;
    align-self: center;
  }
}

@media (max-width: 576px) {
  .ag-grid-table {
    .ag-paging-panel {
      height: 160px;
    }
    .sort-dropdown {
      margin-bottom: 1rem;
    }
  }
}
